<!doctype html>
<html lang="en">

<head>
  <title>About Us</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
  <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(210, 219, 221);">
    <img src="https://i.ibb.co/v3MpV44/icon-512x512-2x.png" alt="icon-512x512-2x" border="0"
      style="height: 40px; width: 40 px; padding-right: 16px;">
    <!-- <h1 id="heading">COVID-19 Clinical Trials Taking Place Globally</h1> -->
    <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search by State" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    <!-- <a class="navbar-brand" href="#">Navigation</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="current"></li>
        <li class="nav-item">
          <a class="nav-link" href="http://covid19clinicaltrials.herokuapp.com/">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://covid19clinicaltrials.herokuapp.com/our-project"> Our Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://covid19clinicaltrials.herokuapp.com/dashboard"> Clinical Trials
            Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://covid19clinicaltrials.herokuapp.com/machine-learning"> Machine
            Learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://covid19clinicaltrials.herokuapp.com/about-us">About Us</a>
        </li>
      </ul>
    </div>
    </form>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-12" style="padding-bottom: 20px; padding-top: 10px;">
        <h2>About Us</h2>
        <p>
          The COVID-19 Clinical Trial project team is composed of 6 members of the Data Analtyics Bootcamp
          through GW
          University.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal"
          data-theme="light" data-vanity="rupesh-chaturvedi"><a class="LI-simple-link"
            href='https://www.linkedin.com/in/rupesh-chaturvedi?trk=profile-badge'>Rupesh Chaturvedi</a></div>
      </div>
      <div class="col-4">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal"
          data-theme="light" data-vanity="jacob-hassinger-1502a3113"><a class="LI-simple-link"
            href='https://www.linkedin.com/in/jacob-hassinger-1502a3113?trk=profile-badge'>Jacob
            Hassinger</a></div>
      </div>
      <div class="col-4">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal"
          data-theme="light" data-vanity="christian-jaffe"><a class="LI-simple-link"
            href='https://www.linkedin.com/in/christian-jaffe?trk=profile-badge'>Christian Jaffe</a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal"
          data-theme="light" data-vanity="mignon-du-plessis-0531a51a9"><a class="LI-simple-link"
            href='https://www.linkedin.com/in/mignon-du-plessis-0531a51a9?trk=profile-badge'>Mignon du
            Plessis</a></div>
      </div>
      <div class="col-4">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal"
          data-theme="light" data-vanity="omar-shreim-102934198"><a class="LI-simple-link"
            href='https://www.linkedin.com/in/omar-shreim-102934198?trk=profile-badge'>Omar Shreim</a></div>
      </div>
      <div class="col-4">
        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal"
          data-theme="light" data-vanity="suevalverde"><a class="LI-simple-link"
            href='https://www.linkedin.com/in/suevalverde?trk=profile-badge'>Susan Valverde, MBA</a></div>
      </div>
    </div>
  </div>

  <!-- Javascript for Bootstrap -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</body>

</html>