<!doctype html>
<html lang="en">

<head>
  <title>COVID-19 Clinical Trials</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Jquery UI CSS -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- Minor mod to Jquery UI CSS -->
  <link rel="stylesheet" type="text/css" href="../static/jquery-ui_theme_mod.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

  <!-- Marker Cluster JS & CSS -->
  <script type="text/javascript"
    src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css"
    href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">


  <!--flask app JS; with another thank you to Stack Overflow to assign the data from flask into a js variable (https://stackoverflow.com/questions/15321431/how-to-pass-a-list-from-python-by-jinja2-to-javascript) -->
  
  <title>COVID-19 Clinical Trials</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  
  <nav class="navbar navbar-expand-lg" style="background-color: rgb(210, 219, 221);">
    <img src="https://i.ibb.co/v3MpV44/icon-512x512-2x.png" alt="icon-512x512-2x" border="0" style="height: 40px; width: 40 px; padding-right: 16px;">
    <!-- <h1 id="heading">COVID-19 Clinical Trials Taking Place Globally</h1> -->
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search by State" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    <!-- <a class="navbar-brand" href="#">Navigation</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class= "current"></li> 
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ourproject"> Our Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="clinicaltrials.html"> Clinical Trials Map</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="machinelearning.html"> Machine Learning</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About Us</a>
        </li>
      </ul>
    </div>
    </form>
  </nav>


  <!-- Javascript for Bootstrap -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- Javascript for JQuery -->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <!-- script specific to accordion -->
  <script>
    $(function () {
      $("#accordion").accordion();
    });
    $(".selector").accordion({
      icons: { "header": "ui-icon-plus", "activeHeader": "ui-icon-minus" }
    });
  </script>

  <script type="text/javascript" src="../static/logic.js"></script>
  <script type="text/javascript" src="../static/plot1.js"></script>
  <script type="text/javascript" src="../static/plot2.js"></script>

</body>

</form>
</nav>
  <div class="container">
    <div class="col-12" style="padding-bottom: 20px; padding-top: 10px;"></div>
      <h2>Machine Learning</h2>
        <p>
          Machine Learning in practice involves five key steps: 1) Get the data, 2) Clean, prepare, and manipulate the data, 3) Train the model, 4) Test the data, and 5) Improve.
          An exhaustive litereature research gave us the idea of using eligibility and exclusiion criteria in our machine learning effort. 
          We decided to limit the scope of the project to those trials that involved drugs as interventions, and to further limit our data set to 5 the five drugs that are currently seen to show the most promise: 
          Hydroxychloroquine (Plaquenil) and chloroquine (Aralen), Remdesivir, Favilavir, Lopinavir-ritonavir, Convalescent plasma. 
          
          We pulled the eligibility and exclusion criteria from the current set of clinical trials that contained these drugs in the clinical trial description and loaded them into the database. 
          We prepared the data using pandas to remove extra words and created a csv file of lines of eligibility and exclusion criteris. 
          We experimented with several data preparation methods including - Latent Dirichlet, Bag of Words and others until finally choosing Categorical Embedding. 
          With Categorical Embedding we were able to create a real very integer number encoding. 
          With neural networks, a hidden layer is located between the input and output of the algorithm, in which the function applies weights to the inputs and directs them through an activation function as the output. 
          In short, the hidden layers perform nonlinear transformations of the inputs entered into the network. Our model used two hidden layers.
          We created a test group and trained the neural network. We then did a test and created a variety of visualizations of the output.
        </p>
        <p>
        <h4>Get the data</h4>
        <p>
            We decided to limit the scope of the project to those trials that involved drugs as interventions, and to further limit our data set to 5 the five drugs that are currently seen to show the most promise: 
            Hydroxychloroquine (Plaquenil) and chloroquine (Aralen), Remdesivir, Favilavir, Lopinavir-ritonavir, Convalescent plasma. 
            
            We pulled the eligibility and exclusion criteria from the current set of clinical trials that contained these drugs in the clinical trial description and loaded them into the database.    
        </p>
        <p>
        <a><img src="../static/images/drugtrials.png"></a>
        </p>
        <p>
        <h4>Clean, prepare, and manipulate the data</h4>
        <p>We then cleaned the data, taking out extra words, and removing fields.  Categorical emedding was used to encode the eligibility and exclusion criteria. Further manipulation using pandas was done to create the final data set for the neural network model.</p>
        
        <p>
        <a><img src="../static/images/cleancriteria.png"></a>
        </p>
        <p>
        <a><img src="../static/images/ce.png"></a>
        </p>
        <p>
        <a><img src="../static/images/transform.png"></a>
        </p>
        <p>
        <h4>Train the model</h4> 
        <p>We chose a test set and then trained the model.</p>
        
        <p>
        <a><img src="../static/images/modeltrain.png"></a>
        </p>  
        <p>
        <a><img src="../static/images/training.png"></a>
        </p>   
        <p>
        <h4>Test the data</h4>
        <p>We tested the model for accuracy.
        </p>
        <p>
        <a><img src="../static/images/checkmodelaccuracy.png"><a>
        </p>
        <p>
        <h4>Improve</h4>
      </div>
    </div>
  </div>




</html>